<html>
	<head>
		<title>Health Graph API Demo</title>
	</head>
	<body>
		<div align="center" style="width:100%;">
		<div align="center" style="width:720px;display:inline-block;">
			<h1>HealthGraph-API Demo</h1>
			<p align="left">
				<a href="https://github.com/aouyar/healthgraph-api">HealthGraph-API</a> 
				is a Python Client Library for 
				<a href="http://developer.runkeeper.com/healthgraph">Health Graph API</a>. 
				The API can be used for accessing 
				<a href="http://runkeeper.com">RunKeeper.com</a> for 
				retrieving, updating, deleting and uploading 
				Fitness Activity and Health Measurements Information.
			</p>
			<p align="center">
				<img src="{{ profile.get('normal_picture') }}" alt="Profile Picture"><br>
			</p>
			<p>
				<b>{{ profile.get('name') }}</b><br>
				{{ profile.get('athlete_type') }}
				from
				{{ profile.get('location', 'Somewhere') }}
			</p>
			<p align="center">
				<h2>Recent Activities</h2>	
				<table border=1>
					<thead>
						<th>Date / Time</th>
						<th>Sport</th>
						<th>Distance (km)</th>
					</thead>
					<tbody>
						%for stats in activities.get('items', []):
						<tr>
							<td>{{ stats.get('start_time') }}</td>
							<td>{{ stats.get('type') }}</td>
							<td align="right">{{ '%.1f' % (stats.get('total_distance', 0) / 1000) }}</td>
						</tr>
						%end		
					</tbody>
				</table>
			</p>
			<p align="center">
				<h2>Total Distance</h2>	
				<table border=1>
					<thead>
						<th>Sport</th>
						<th>This Week<br>(km)</th>
						<th>Last Week<br>(km)</th>
						<th>This Month<br>(km)</th>
						<th>Last Month<br>(km)</th>
						<th>Overall<br>(km)</th>
					</thead>
					<tbody>
						%for sport, stats in records.items():
						<tr>
							<td>{{ sport }}</td>
							<td align="right">{{ '%.1f' % stats.get('THIS_WEEK', 0) }}</td>
							<td align="right">{{ '%.1f' % stats.get('LAST_WEEK',  0) }}</td>
							<td align="right">{{ '%.1f' % stats.get('THIS_MONTH', 0) }}</td>
							<td align="right">{{ '%.1f' % stats.get('LAST_MONTH', 0) }}</td>
							<td align="right">{{ '%.1f' % (stats.get('OVERALL', 0) / 1000) }}</td>
						</tr>
						%end		
					</tbody>
				</table>
			</p>
			<p>
				<a href="/logout">Logout</a>
			</p>
		</div>
		</div>
	</body>
</html>